.creatorForm {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    width: 225px;
    height: 230px;
    align-items: center;
    justify-content: center;
}
.creatorForm input {
    margin-bottom: 5px;
    text-align: center;
    height: 25px;
}
.creatorForm input[type="submit"] {
    background-color:seagreen;
    cursor: pointer;
    border: none;
    height: 30px;
    padding: 5px;
    color: rgb(238, 174, 55);
    font-size: 14px;
    border-radius: 5px;
}
