.headerSearch {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.headerSearch input {
    width: 90%;
    font-size: 18px;
    height: 30px;
}